API_URL="http://api.alfonsobries.com/api"
SITE_URL="http://alfonsobries.com"
NEXT_PUBLIC_GOOGLE_ANALYTICS=<Your_tracking_ID>
GITHUB_API_KEY=ghp_
# Should match the frontend SECRET_PREFIX value
SECRET_PREFIX=secret
