@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  height: -webkit-fill-available;
}

body {
  @apply flex h-screen flex-col overflow-hidden;
  height: -webkit-fill-available;
}

#main {
  flex: 1;
  @apply overflow-auto;
}
